.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile img {
  height: 500px;
  border-radius: 50px;
}

.profile__introduce span {
  font-size: 25px;
  font-style: italic;
}

#name {
  font-size: 1.9rem;
  font-weight: 700;
}
