.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile__photo {
  height: 500px;
  border-radius: 50px;
  margin-bottom: 30px;
}

.profile__introduce h1 {
  font-size: 25px;
  font-style: italic;
}

#fullname {
  font-size: 30px;
  font-weight: 700;
}
