@import "reset.css";
@import "header.css";

@import "pages/index.css";
@import "pages/About.css";
@import "pages/Contact.css";

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 500vh;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main {
  animation: fadein 0.8s;
  height: 100vh;
  width: 100%;
}
