main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
}

.background img {
  height: 85vh;
  border-radius: 50px;
}

.text {
  position: relative;
  top: -220px;
}

.text span {
  color: white;
  font-size: 2.2rem;
  font-style: italic;
}
