.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.about__photo img {
  height: 550px;
  border-radius: 50px;
}

.about__photo--text {
  font-size: 25px;
  font-style: italic;
  color: white;
  position: absolute;
  top: 100px;
}
