.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__photo {
  height: 500px;
  border-radius: 50px;
}

.contact__list {
  margin-left: 50px;
}

.contact__contacts {
  margin: 100px 0;
}

.contact__link {
  text-decoration: none;
}

.contact__link span {
  font-style: italic;
  color: black;
  font-size: 25px;
}
